@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
   
       <h3 style="  margin-bottom: 20px; font-family: Copperplate, Papyrus, fantasy;"  >Book Store</h3>
       <img src="https://i.pinimg.com/736x/5f/fc/aa/5ffcaa487bc4706ba64cd7e18ff73b1f.jpg" alt="?" style="border-style: double; border-width: 7px; border-radius: 5px;" />;
</div>
