@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div class="text-center">
    <img  src="https://th.bing.com/th/id/R.df89656c6fb69ca896149d359c3f73fc?rik=WIEwZ%2byd8tLY8w&pid=ImgRaw&r=0" alt ="?" />

</div>


